.container {
  width: 450px;
}

h3 {
  margin-top: 45px;
}
.form-control {
  margin-bottom: 8px;
}
.list-item {
  display: block;
  border-radius: 5px;
  padding: 8px 20px;
  margin-bottom: 5px;
  color: #fff;
}
